@font-face {
    font-family: 'Hind';
    src: url('/fonts/Hind-Regular.ttf');
    font-display: fallback;
}

@font-face {
    font-family: 'NotoSans';
    src: url('/fonts/NotoSans-Regular.ttf');
    font-display: fallback;
}